*{
    margin: 0%;
}
body{
    background-image: url(premium_photo-1684785617500-fb22234eeedd.avif);
    background-repeat: no-repeat;
    background-size: 100% 250vh;
}
.navbar{
    width: cover;
    height: 50px;
    background-image: url(NAV.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar input{
    position: relative;
    width: 500px;
    height: 32px;
    top: -10px;
    left: 77px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px black;
    font-size: 15px;
    border: none;
}
.navbar button{
    position: relative;
    width: 90px;
    height: 32px;
    top: -19%;
    left: 80px;
    color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 0px 10px 10px black;
  font-size: 15px;
  border: none;
}
.navbar .but{
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 0px 10px 10px black;
  font-size: 15px;
  border: none;
}
.navbar .but:hover{
  background-color: black;
  border: 3px solid transparent;
}
.navbar button:hover{
    background-color: black;
    border: 3px solid transparent;
}
.navbar .btn{
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 0px 10px 10px black;
  font-size: 15px;
  border: none;
    left: 100px;
}
.navbar .btn:hover{
    background-color: black;
    border: 3px solid transparent;

}
.navbar ::placeholder{
    color: black;
}
marquee{
    background-image: url(NAV.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 23px;
    font-family:cursive;
    color: black;
    text-shadow: 0px 10px 10px black;
}
.anim{
    width: 100%;
    height: 150vh;
    position: relative;
    top: 0%;
    animation-name: Anim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@keyframes Anim{
0% {background-image: url(GigvWCn.png); background-repeat: no-repeat; background-size: 100% 150vh;}
50% {background-image: url(photo-1674027392887-751d6396b710.avif);background-repeat: no-repeat; background-size: 100% 150vh;}
100% {background-image: url(premium_photo-1684785617500-fb22234eeedd.avif);background-repeat: no-repeat; background-size: 100% 150vh;}
}
.maledress{
position: relative;
margin-top: 6%;
margin-left: 18%;
width:200px;
height: 300px;
border: 1px solid white;
border-radius: 7%;
background-color: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 0px 10px 10px black;
}
.malewallet{
top: 7%;
left: 15%;
width:200px;
height: 300px;
border: 1px solid white;
border-radius: 7%;
background-color: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 0px 10px 10px black;
}
.maleshoes{
  top: 0%;
  left: 15%;
  width:200px;
  height: 300px;
  border: 1px solid white;
  border-radius: 7%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px black;
  }
.malewallet{
position: relative;
margin-left: 150%;
margin-top: -145%;

}
.maleshoes{
position: relative;
margin-left: 150%;
margin-top: -145%;
}
.anim h1{
    margin-top: -25%;
}
.anim img{
width: 100%;
height: 50%;
border-radius: 30PX;
}
.slider_container {
    position: relative;
    width: 100%;
    height: 600%;
    top: 13%;
    left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
  }
  .slide {
    position: relative;
    min-width: 100%;
    height: 100%;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  @keyframes sliding {
    0% {transform: translateX(0%);
    }
    20% {transform: translateX(0%);
    }
    25% {transform: translateX(-100%);
    }
    45% {transform: translateX(-100%);
    }
    50% {transform: translateX(-200%);
    }
    70% {transform: translateX(-200%);
    }
    75% {transform: translateX(-300%);
    }
    95% {transform: translateX(-300%);
    }
    100% {transform: translateX(-400%);
    }
}
.footer{
  position: relative;
    width: 100%;
    height: 25%;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 100%;
    padding-top: 5%;
}
.footer img:hover{
border: 1px solid white;
border-radius: 100%;
}
.anim h1{
  margin-top: 3%;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0px 10px 10px black;
  border-radius: 30px;
  width: 300px;
  margin-left: 520px;
}
.femaledress{
  position: relative;
  margin-top: 40%;
  margin-left: -330%;
  width:200px;
  height: 300px;
  border: 1px solid white;
  border-radius: 7%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px black;
  }
  .femalewallet{
  top: 0%;
  left: 15%;
  width:200px;
  height: 300px;
  border: 1px solid white;
  border-radius: 7%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px black;
  }
  .femaleshoes{
    top: -2%;
    left: 15%;
    width:200px;
    height: 300px;
    border: 1px solid white;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 10px 10px black;
    }
  .femalewallet{
  position: relative;
  margin-left: 150%;
  margin-top: -145%;
  
  }
  .femaleshoes{
  position: relative;
  margin-left: 150%;
  margin-top: -145%;
  }
 .navbar h4{
  position: absolute;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  
 }